doctype html
html
  head
    style
      include ../static/style.css
      include ../static/admitted.css

  body
    nav#navbar.top
        ul
          li 
            a(href="/") Home 
          li 
            a(href="/events") Events 
          li 
            a(href="/admission") Admission
          li 
            a(href="/contact") Contact us
    .container-admitted 
        .wrapper 
          .admited 
            h2 Welcome to Our Academy 
            p  Your Application is Submitted sucessfully we will connect you shortly 
          .homePage 
            a(href="/") Return to Home      