doctype html
html
  head
    style
      include ../static/style.css
      include ../static/style_event.css
  body
    nav#navbar.top
        ul
          li 
            a(href="/") Home 
          li 
            a(href="/events") Events 
          li 
            a(href="/admission") Admission
          li 
            a(href="/contact") Contact us
    .container-event 
        .container-head 
            h2 Our most of The Popular Events
        .card-event 
            .cards-event
                p 21 September 2023 
                p.date Sunday at 4:00 pm - 8.30 pm 
                p Renowned Dance Masters 
                button#btn-event Check Event
            .cards-event
                p 28 November 2023 
                p.date Friday at 6:00 pm - 10.30 pm 
                p DFW for Graduate earnings vs cost 
                button#btn-event Check Event
            .cards-event
                p 5 January 2024 
                p.date Saturday at 8:00 pm - 11.30 pm 
                p Texas Womans's is public university 
                button#btn-event Check Event
            
