doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
          li 
            a(href="/") Home 
          li 
            a(href="/events") Events 
          li 
            a(href="/admission") Admission
          li 
            a(href="/contact") Contact us 
    section#introSection  
        #container 
          p#subtext 
            | Dance with your Heart
          p#ndsubText
            | We Can Dance 
          p#rdsubText 
            | Established in 1989, Dexin Dance Studio has become a center for Dance students with professional aspirations
          button#btn 
            |Read More
    section#missionSection 
        #missionContainer 
          .leftContainer 
            p#leftContent
              |Dance Academy offers quality dance instruction donw with care 
            button#misbtn
              | Learn More
          #rightcontainer
            #preballet 
              h3 Pre-Ballet 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia modi odit alias fugit deserunt quam quidem impedit nulla maxime doloremque ea itaque, dolores, perferendis error.
            #musicalTheatre 
              h3 Musical Theatre 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis modi dolor totam quidem pariatur id veritatis, omnis explicabo tenetur dolorem! Distinctio delectus illum corporis deserunt? 
        #authorContainer 
          .leftContainer#imgcontainer
            img(src="https://i.pinimg.com/564x/93/c4/6a/93c46a6911d520b9bed5c1635204dfdf.jpg", alt="")#imgauthor
          .rightContainer 
            p#authorpara we Provide service since 1889
            h2#authoHead Join A Global Dance Community 
            p#notice Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quasi itaque commodi consectetur doloremque vitae facere ex nobis doloribus nihil?
            p.satisfy-regular Jeebanjyoti Mallik 
            br 
            span#designation CEO and Founder 
    section#sponsherSection 
        h2 
          |Service Platform
        .container 
          .card 
            h3.card-head creative Movement 
            p.card-para Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, natus repellendus! In doloremque a aspernatur.
          .card 
            h3.card-head Musical THeatre 
            p.card-para Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, natus repellendus! In doloremque a aspernatur.
          .card 
            h3.card-head Hip-Hop 
            p.card-para Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, natus repellendus! In doloremque a aspernatur.
        .container1 
          p#review What Our Customers Are Saying!!
          .container 
            .rev-card 
              p My 9 year old shuffle-ball Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, placeat magni. Esse explicabo commodi omnis at enim atque nobis! Laborum aperiam aspernatur inventore beatae repellendus.
              img(src="https://img.freepik.com/premium-vector/man-vector-logo-icon-man-silhouette-vector-illustration_595175-1461.jpg", alt="").manimg
            .rev-card 
              p My 9 year old shuffle-ball Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, placeat magni. Esse explicabo commodi omnis at enim atque nobis! Laborum aperiam aspernatur inventore beatae repellendus.
              img(src="https://img.freepik.com/premium-vector/man-vector-logo-icon-man-silhouette-vector-illustration_595175-1461.jpg", alt="").manimg
            

    footer#footer 
        .footerContainer 
          .footer1stContainer 
            p Be in the know with the latest update from  
            span#name 
              |Dexin
          .footer2ndContainer
            .smallcards 
              p#tag Join Dancers Around the World Learning on Dancerio, Start Imporving your dance skills today.
            .smallcards 
              h4 LATEST NEWS 
              p Discover systematic ways to develop 
              p 21 August, 2024 / Business 
            .smallcards 
              h4 NAVIGATE 
              P About us
              P Customer
              p Member Forum 
              p Collection 
            .smallcards 
              h4 CONTACT INFO
              P 201 Stokes Isle Apt. 896,
                p New york, United States 
                p (+8000)166598 515
                p info@dexin.in.co
        .footer3rdContainer
          p Copyrights 2024 © Dexin| All rights are reserved.
    script 
        include ../static/index.js