.container-admitted{
    position: relative;
    top: 40px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.wrapper .admited{
    
    margin-top: 140px;
    text-align: center;
}
.admited h2{
    color: orangered;
}

.homePage a{
    color: blue;
}